node_modules
.DS_Store
/content
whisper.cpp
whisper-diarization
package-lock.json
.env
src/llms/models
.idea
build
deno.lock
out
dist
LLM.md
nemo_msdd_configs
temp_outputs
tsconfig.tsbuildinfo
show_notes.db
ollama.log
llm-txt.md