---
import type { PaginationLink } from "@/types"

interface Props {
	nextUrl?: PaginationLink
	prevUrl?: PaginationLink
}

const { nextUrl, prevUrl } = Astro.props
---

{
	(prevUrl || nextUrl) && (
		<nav>
			{prevUrl && (
				<a data-astro-prefetch href={prevUrl.url}>
					{prevUrl.srLabel && <span>{prevUrl.srLabel}</span>}
					{prevUrl.text ? prevUrl.text : "Previous"}
				</a>
			)}
			{nextUrl && (
				<a data-astro-prefetch href={nextUrl.url}>
					{nextUrl.srLabel && <span>{nextUrl.srLabel}</span>}
					{nextUrl.text ? nextUrl.text : "Next"}
				</a>
			)}
		</nav>
	)
}
