---
// web/src/pages/app.astro

import PageLayout from "@/layouts/Base.astro";
import Form from "@/components/app/Form";
---

<PageLayout meta={{ title: "Show Notes" }}>
  <section>
    <h1>Generate Show Notes</h1>
    <ul class="show-notes-list">
      <Form client:only="react" />
    </ul>
  </section>
</PageLayout>