---
// web/src/components/Navigation.astro

const url = new URL(Astro.request.url)
---

<header id="main-header">
    <div>
      <a aria-current={url.pathname === "/" ? "page" : false} href="/">
        Autoshow.sh
      </a>
    </div>
</header>