---
// web/src/components/Navigation.astro

import { menuLinks } from "@/site-config"

const url = new URL(Astro.request.url)
---

<header id="main-header">
    <div>
      <a aria-current={url.pathname === "/" ? "page" : false} href="/">
        Autoshow.sh
      </a>
      <nav aria-label="Main menu" id="navigation-menu">
        <ul>
          {
            menuLinks.map((link) => (
              <li>
                <a aria-current={url.pathname === link.path ? "page" : false} data-astro-prefetch href={link.path}>
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
</header>